.section_design {
  padding-top: 203px;
  padding-bottom: 104px;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .section_design {
    padding-top: 100px;
  }
}
@media screen and (max-width: 480px) {
  .section_design {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.section_design-wrapper--content_items .text-card {
  display: flex;
  flex-direction: column;
  gap: 31px;
  width: 100%;
}
.section_design-wrapper--content_items .text-card.section {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.section_design-wrapper--content_items .text-card .desc {
  height: 100%;
  width: 54.3%;
}
.section_design-wrapper--content_items .text-card .desc.font {
  min-height: 89px;
  height: 100%;
  width: 90%;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items .text-card .desc.font {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items .text-card .desc {
    min-height: auto;
  }
}
.section_design-wrapper--content_items .text-card .image img {
  width: 100%;
}
.section_design-wrapper--content_items .text-card.top {
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items .text-card.top {
    flex-direction: column;
  }
}
.section_design-wrapper--content_items .text-card--left {
  display: flex;
  flex-direction: column;
  gap: 54px;
}
.section_design-wrapper--content_items .text-card--left .desc {
  width: 59%;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items .text-card--left .desc {
    width: 100%;
  }
}
.section_design-wrapper--content_items .text-card--card {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items .text-card--card {
    flex-direction: column;
  }
}
.section_design-wrapper--content_items .text-card--card_info {
  width: 100%;
  position: absolute;
  height: calc(100% - 16px - 17px);
  top: 16px;
  right: 55%;
  transform: translateY(0);
  padding: 39px 32px 20px 31px;
  background-color: #F6F2EE;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--content_items .text-card--card_info {
    padding: 0px;
    justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items .text-card--card_info {
    position: initial;
    width: 100%;
    transform: none;
    padding: 39px 32px 20px 31px;
    gap: 20px;
  }
}
.section_design-wrapper--content_items .text-card--card_info-info .desc {
  width: 100%;
  text-transform: lowercase;
}
.section_design-wrapper--content_items .text-card--card_image {
  height: 100%;
}
.section_design-wrapper--content_items .text-card--card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_design-wrapper--content_items .text-card--card.design .text-card--card_info-title .desc {
  text-transform: uppercase;
}
.section_design-wrapper--content_items .text-card .svg-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section_design-wrapper--content_items .text-card .svg-icons .svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_design-wrapper--content_items .text-card .svg-icons .svg-icon.color {
  min-width: 152px;
  color: #fff;
  height: 47px;
  font-size: 16px;
  margin-bottom: 20px;
}
.section_design-wrapper--content_items .text-card .svg-icons .svg-icon.color.first {
  background-color: #136062;
}
.section_design-wrapper--content_items .text-card .svg-icons .svg-icon.color.second {
  background-color: #4A5C5C;
}
.section_design-wrapper--content_items .text-card .svg-icons .svg-icon.color.third {
  background-color: #E0A425;
}
.section_design-wrapper--content_items .text-card .svg-icons .svg-icon.color.fourth {
  background-color: #BAA99D;
}
.section_design-wrapper--content_items .text-card .svg-icons .svg-icon.color.fifth {
  background-color: #F6F2EE;
  color: #BAA99D;
}
.section_design-wrapper--content_items .text-card .svg-icons .svg-icon.color.sixth {
  background-color: #593932;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items .text-card .svg-icons .svg-icon.color {
    min-width: calc(33.33% - 10px);
    margin-bottom: 10px;
    font-size: 13px;
  }
}
.section_design-wrapper--content_items .text-card .svg-icons .svg-icon.icon {
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items .text-card .svg-icons .svg-icon.icon {
    min-width: calc(33.33% - 10px);
    margin-bottom: 20px;
    font-size: 13px;
  }
}
.section_design-wrapper--content_items-fonts {
  padding-top: 19px;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-fonts {
    padding-top: 30px;
  }
}
.section_design-wrapper--content_items-fonts-font {
  display: flex;
  justify-content: space-between;
  width: 98%;
  max-width: calc(1440px - 2%);
  margin: 0 auto;
  padding: 38px 50px 0px;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--content_items-fonts-font {
    padding-left: 0;
    padding-right: 0;
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-fonts-font {
    flex-direction: column;
    gap: 0;
  }
}
.section_design-wrapper--content_items-fonts-font .card-right {
  display: flex;
  width: 100%;
  max-width: 340px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-fonts-font .card-right {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items-fonts-font .card-right {
    max-width: unset;
    width: auto;
  }
}
.section_design-wrapper--content_items-fonts-font .card-right--top_subtitle {
  text-align: end;
}
.section_design-wrapper--content_items-fonts-font .card-right--top_text {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-fonts-font .card-right--top_text {
    height: 160px;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items-fonts-font .card-right--top_text {
    height: 140px;
  }
}
.section_design-wrapper--content_items-fonts-font .card-right--top_text-title, .section_design-wrapper--content_items-fonts-font .card-right--top_text-subtitle {
  height: 45px;
}
.section_design-wrapper--content_items-fonts-font .card-right--top_icon svg {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items-fonts-font .card-right--top_icon svg {
    width: 70%;
  }
}
.section_design-wrapper--content_items-fonts-font .card-right--top_desc {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-top: 16px;
}
.section_design-wrapper--content_items-fonts-font .card-right--top_desc svg {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items-fonts-font .card-right--top_desc svg {
    width: 70%;
  }
}
.section_design-wrapper--content_items-fonts-font .card-right--top_desc .second-svg {
  min-height: 189px;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items-fonts-font .card-right--top_desc .second-svg {
    min-height: 70px;
  }
}
.section_design-wrapper--content_items-colors, .section_design-wrapper--content_items-buttons {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-colors, .section_design-wrapper--content_items-buttons {
    flex-direction: column;
    gap: 40px;
  }
}
.section_design-wrapper--content_items-colors {
  padding-top: 196px;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-colors {
    padding-top: 20px;
  }
}
.section_design-wrapper--content_items-colors .desc {
  width: 65%;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items-colors .desc {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-colors svg {
    width: 100%;
  }
}
.section_design-wrapper--content_items-buttons {
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--content_items-buttons {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-buttons {
    flex-direction: column;
    gap: 50px;
  }
}
.section_design-wrapper--content_items-buttons svg {
  width: 100%;
}
.section_design-wrapper--content_items-buttons--left {
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.section_design-wrapper--content_items-buttons--right {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-buttons--left, .section_design-wrapper--content_items-buttons--right {
    width: 100%;
  }
}
.section_design-wrapper--content_items-icons {
  padding-top: 174px;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-icons {
    padding-top: 50px;
  }
}

/*# sourceMappingURL=design.module.css.map */
