.section_hero-wrapper {
  position: relative;
}
.section_hero-wrapper--background {
  height: 100vh;
  background: url("../images/sante_hero.png") no-repeat center/cover;
}
@media screen and (min-width: 2560px) {
  .section_hero-wrapper--background {
    height: 80vh;
  }
}
@media screen and (max-width: 1024px) {
  .section_hero-wrapper--background {
    height: 40vh;
  }
}
.section_hero-wrapper--content {
  position: absolute;
  top: 35%;
  bottom: 0;
  left: 20%;
  width: 506px;
  display: flex;
  flex-direction: column;
  gap: 38px;
}
@media screen and (min-width: 2560px) {
  .section_hero-wrapper--content {
    right: 18%;
    top: 25%;
  }
}
@media screen and (max-width: 1440px) {
  .section_hero-wrapper--content {
    right: 0%;
    top: 30%;
  }
}
@media screen and (max-width: 1280px) {
  .section_hero-wrapper--content {
    width: 400px;
  }
}
@media screen and (max-width: 1024px) {
  .section_hero-wrapper--content {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .section_hero-wrapper--content {
    width: 200px;
  }
}
@media screen and (max-width: 480px) {
  .section_hero-wrapper--content {
    width: 150px;
    gap: 20px;
    top: 20%;
  }
}
.section_hero-wrapper--content_headline .title {
  font-size: 90px;
  text-transform: none;
  color: #E0A425;
  line-height: 1;
}
@media screen and (max-width: 1440px) {
  .section_hero-wrapper--content_headline .title {
    font-size: 75px;
  }
}
@media screen and (max-width: 1280px) {
  .section_hero-wrapper--content_headline .title {
    font-size: 65px;
  }
}
@media screen and (max-width: 1024px) {
  .section_hero-wrapper--content_headline .title {
    font-size: 55px;
  }
}
@media screen and (max-width: 768px) {
  .section_hero-wrapper--content_headline .title {
    font-size: 35px;
  }
}
@media screen and (max-width: 480px) {
  .section_hero-wrapper--content_headline .title {
    font-size: 22px;
  }
}
.section_hero-wrapper--content_headline .title span {
  color: #FFF;
}
.section_hero-wrapper--content_btn {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}
.section_hero-wrapper--content_btn .content {
  display: flex;
  padding: 13px 32px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background: #E0A425;
}
@media screen and (max-width: 1280px) {
  .section_hero-wrapper--content_btn .content {
    padding: 10px 16px;
  }
}
@media screen and (max-width: 1024px) {
  .section_hero-wrapper--content_btn .content {
    padding: 8px 10px;
  }
}
@media screen and (max-width: 768px) {
  .section_hero-wrapper--content_btn .content {
    padding: 5px;
    gap: 5px;
  }
}
@media screen and (max-width: 480px) {
  .section_hero-wrapper--content_btn .content {
    padding: 5px;
  }
}
@media screen and (max-width: 768px) {
  .section_hero-wrapper--content_btn .content svg:nth-child(1) {
    width: 55px;
    height: 15px;
  }
}
@media screen and (max-width: 480px) {
  .section_hero-wrapper--content_btn .content svg:nth-child(1) {
    width: 40px;
    height: 12px;
  }
}
@media screen and (max-width: 768px) {
  .section_hero-wrapper--content_btn .content svg:nth-child(2) {
    width: 10px;
    height: 12px;
  }
}
.section_hero-wrapper--content_btn:hover .content svg:nth-child(2) {
  transform: translateX(13px);
  transition: transform 0.5s ease;
}
@media screen and (max-width: 768px) {
  .section_hero-wrapper--content_btn:hover .content svg:nth-child(2) {
    transform: none;
  }
}

.section_about {
  padding-top: 100px;
  padding-bottom: 216px;
}
@media screen and (max-width: 1280px) {
  .section_about {
    padding-top: 80px;
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 768px) {
  .section_about {
    padding-bottom: 120px;
  }
}
@media screen and (max-width: 480px) {
  .section_about {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}
.section_about-wrapper--title {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .section_about-wrapper svg {
    width: 200px;
    height: 50px;
  }
}
.section_about-wrapper--content {
  padding-top: 57px;
  display: flex;
  gap: 21px;
}
@media screen and (max-width: 1024px) {
  .section_about-wrapper--content {
    flex-direction: column;
    gap: 30px;
  }
}
.section_about-wrapper--content_text {
  display: flex;
  flex-direction: column;
  gap: 54px;
  width: 57%;
  padding-top: 81px;
}
@media screen and (max-width: 1024px) {
  .section_about-wrapper--content_text {
    width: 100%;
    padding-top: 0px;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_text {
    gap: 10px;
  }
}
.section_about-wrapper--content_text .title {
  color: #4A5C5C;
  font-size: 36px;
  line-height: 110%;
  text-transform: uppercase;
}
@media screen and (max-width: 1280px) {
  .section_about-wrapper--content_text .title {
    font-size: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .section_about-wrapper--content_text .title {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .section_about-wrapper--content_text .title {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_text .title {
    font-size: 18px;
  }
}
.section_about-wrapper--content_text-desc {
  font-size: 20px;
  line-height: 130%;
  color: #593932;
}
@media screen and (max-width: 480px) {
  .section_about-wrapper--content_text-desc {
    margin-top: 30px;
    width: 98%;
  }
}
.section_about-wrapper--content_card {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.section_about-wrapper--content_card-info {
  width: 54%;
  position: absolute;
  height: calc(100% - 32px - 17px);
  top: 32px;
  left: 0;
  transform: translateY(0);
  padding: 48px;
  background-color: #F6F2EE;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.section_about-wrapper--content_card-image {
  height: 100%;
  z-index: 2;
}
.section_about-wrapper--content_card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section_overview {
  padding-top: 166px;
  padding-bottom: 70px;
  position: relative;
  overflow: hidden;
  background: #F6F2EE;
}
@media screen and (max-width: 1028px) {
  .section_overview {
    padding-top: 70px;
  }
}
@media screen and (max-width: 480px) {
  .section_overview {
    padding-top: 50px;
  }
}
.section_overview-wrapper {
  position: relative;
}
.section_overview-wrapper--content_top {
  position: relative;
}
.section_overview-wrapper--content_top-image {
  position: absolute;
  top: 45%;
  right: 0;
}
@media screen and (max-width: 1440px) {
  .section_overview-wrapper--content_top-image {
    display: flex;
    justify-content: flex-end;
    top: 55%;
    width: 80%;
  }
}
.section_overview-wrapper--content_top-image img {
  z-index: 2;
}
@media screen and (max-width: 1440px) {
  .section_overview-wrapper--content_top-image img {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_top-image img {
    display: none;
  }
}
.section_overview-wrapper--content_top-items {
  display: flex;
  flex-direction: column;
  gap: 54px;
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_top-items {
    gap: 70px;
  }
}
@media screen and (max-width: 480px) {
  .section_overview-wrapper--content_top-items {
    gap: 30px;
  }
}
.section_overview-wrapper--content_top-items--item .text-card {
  display: flex;
  flex-direction: column;
  gap: 54px;
  color: #2E3140;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .section_overview-wrapper--content_top-items--item .text-card {
    gap: 30px;
  }
}
.section_overview-wrapper--content_top-items--item .text-card .title {
  color: #4A5C5C;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .section_overview-wrapper--content_top-items--item .text-card {
    width: 100%;
  }
}
.section_overview-wrapper--content_top-items--item .text-card .text {
  min-height: 182px;
}
.section_overview-wrapper--content_top-items--item .text-card .text .desc span {
  color: #9DB8D8;
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_top-items--item .text-card .text {
    height: unset;
  }
}
.section_overview-wrapper--content_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 78px;
}
.section_overview-wrapper--content_bottom-btn {
  display: flex;
  height: 70px;
  padding: 0px 9px;
  justify-content: center;
  align-items: center;
  background: #136062;
}
.section_overview-wrapper--content_bottom-btn .text {
  width: 620px;
}
@media screen and (max-width: 1024px) {
  .section_overview-wrapper--content_bottom-btn .text {
    width: 100%;
  }
}
.section_overview-wrapper--content_bottom-btn .text p {
  color: #FFF;
  text-align: center;
  font-size: 36px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
@media screen and (max-width: 1280px) {
  .section_overview-wrapper--content_bottom-btn .text p {
    font-size: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .section_overview-wrapper--content_bottom-btn .text p {
    font-size: 27px;
  }
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_bottom-btn .text p {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .section_overview-wrapper--content_bottom-btn .text p {
    font-size: 18px;
  }
}
.section_overview-wrapper--content_bottom-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 128px;
  width: 82%;
  background: #F9F9F9;
  padding: 40px 0;
}
@media screen and (max-width: 1024px) {
  .section_overview-wrapper--content_bottom-icons {
    width: 100%;
    gap: 90px;
  }
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_bottom-icons {
    gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .section_overview-wrapper--content_bottom-icons {
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 50px 0px;
  }
}
.section_overview-wrapper--content_bottom-icons .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  width: 226px;
  min-height: 300px;
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_bottom-icons .icon {
    gap: 15px;
  }
}
@media screen and (max-width: 480px) {
  .section_overview-wrapper--content_bottom-icons .icon {
    gap: 10px;
    width: 100%;
    min-height: 100px;
  }
}
.section_overview-wrapper--content_bottom-icons .icon .icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.section_overview-wrapper--content_bottom-icons .icon .icon-text {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 80px;
}
.section_overview-wrapper--content_bottom-icons .icon .icon-text .desc {
  font-size: 16px;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .section_overview-wrapper--content_bottom-icons .icon .icon-text .desc {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .section_overview-wrapper--content_bottom-icons .icon .icon-text .desc {
    font-size: 14px;
  }
}

.section_design {
  padding-top: 203px;
  padding-bottom: 104px;
}
@media screen and (max-width: 1024px) {
  .section_design {
    padding-top: 100px;
  }
}
@media screen and (max-width: 480px) {
  .section_design {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.section_design-wrapper--content_items .text-card {
  display: flex;
  flex-direction: column;
  gap: 31px;
  width: 100%;
}
.section_design-wrapper--content_items .text-card.section {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.section_design-wrapper--content_items .text-card .desc {
  height: 100%;
  width: 54.3%;
}
.section_design-wrapper--content_items .text-card .desc.font {
  min-height: 89px;
  height: 100%;
  width: 90%;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items .text-card .desc.font {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items .text-card .desc {
    min-height: unset;
  }
}
.section_design-wrapper--content_items .text-card .image img {
  width: 100%;
}
.section_design-wrapper--content_items .text-card.top {
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items .text-card.top {
    flex-direction: column;
  }
}
.section_design-wrapper--content_items .text-card--left {
  display: flex;
  flex-direction: column;
  gap: 54px;
}
.section_design-wrapper--content_items .text-card--left .desc {
  width: 59%;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items .text-card--left .desc {
    width: 100%;
  }
}
.section_design-wrapper--content_items .text-card--card {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items .text-card--card {
    flex-direction: column;
  }
}
.section_design-wrapper--content_items .text-card--card_info {
  width: 100%;
  position: absolute;
  height: calc(100% - 16px - 17px);
  top: 16px;
  right: 55%;
  transform: translateY(0);
  padding: 39px 32px 20px 31px;
  background-color: #F6F2EE;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--content_items .text-card--card_info {
    padding: 0px;
    justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items .text-card--card_info {
    position: initial;
    width: 100%;
    transform: none;
    padding: 39px 32px 20px 31px;
    gap: 20px;
  }
}
.section_design-wrapper--content_items .text-card--card_info-info .desc {
  width: 100%;
  text-transform: lowercase;
}
.section_design-wrapper--content_items .text-card--card_image {
  height: 100%;
}
.section_design-wrapper--content_items .text-card--card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_design-wrapper--content_items .text-card--card.design .text-card--card_info-title .desc {
  text-transform: uppercase;
}
.section_design-wrapper--content_items .text-card .svg-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section_design-wrapper--content_items .text-card .svg-icons .svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_design-wrapper--content_items .text-card .svg-icons .svg-icon.color {
  min-width: 152px;
  color: #fff;
  height: 47px;
  font-size: 16px;
  margin-bottom: 20px;
}
.section_design-wrapper--content_items .text-card .svg-icons .svg-icon.color.first {
  background-color: #136062;
}
.section_design-wrapper--content_items .text-card .svg-icons .svg-icon.color.second {
  background-color: #4A5C5C;
}
.section_design-wrapper--content_items .text-card .svg-icons .svg-icon.color.third {
  background-color: #E0A425;
}
.section_design-wrapper--content_items .text-card .svg-icons .svg-icon.color.fourth {
  background-color: #BAA99D;
}
.section_design-wrapper--content_items .text-card .svg-icons .svg-icon.color.fifth {
  background-color: #F6F2EE;
  color: #BAA99D;
}
.section_design-wrapper--content_items .text-card .svg-icons .svg-icon.color.sixth {
  background-color: #593932;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items .text-card .svg-icons .svg-icon.color {
    min-width: calc(33.33% - 10px);
    margin-bottom: 10px;
    font-size: 13px;
  }
}
.section_design-wrapper--content_items .text-card .svg-icons .svg-icon.icon {
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items .text-card .svg-icons .svg-icon.icon {
    min-width: calc(33.33% - 10px);
    margin-bottom: 20px;
    font-size: 13px;
  }
}
.section_design-wrapper--content_items-fonts {
  padding-top: 19px;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-fonts {
    padding-top: 30px;
  }
}
.section_design-wrapper--content_items-fonts-font {
  display: flex;
  justify-content: space-between;
  width: 98%;
  max-width: calc(1440px - 2%);
  margin: 0 auto;
  padding: 38px 50px 0px;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--content_items-fonts-font {
    padding-left: 0;
    padding-right: 0;
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-fonts-font {
    flex-direction: column;
    gap: 0;
  }
}
.section_design-wrapper--content_items-fonts-font .card-right {
  display: flex;
  width: 100%;
  max-width: 340px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-fonts-font .card-right {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items-fonts-font .card-right {
    max-width: unset;
    width: auto;
  }
}
.section_design-wrapper--content_items-fonts-font .card-right--top_subtitle {
  text-align: end;
}
.section_design-wrapper--content_items-fonts-font .card-right--top_text {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-fonts-font .card-right--top_text {
    height: 160px;
  }
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items-fonts-font .card-right--top_text {
    height: 140px;
  }
}
.section_design-wrapper--content_items-fonts-font .card-right--top_text-title, .section_design-wrapper--content_items-fonts-font .card-right--top_text-subtitle {
  height: 45px;
}
.section_design-wrapper--content_items-fonts-font .card-right--top_icon svg {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items-fonts-font .card-right--top_icon svg {
    width: 70%;
  }
}
.section_design-wrapper--content_items-fonts-font .card-right--top_desc {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-top: 16px;
}
.section_design-wrapper--content_items-fonts-font .card-right--top_desc svg {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items-fonts-font .card-right--top_desc svg {
    width: 70%;
  }
}
.section_design-wrapper--content_items-fonts-font .card-right--top_desc .second-svg {
  min-height: 189px;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items-fonts-font .card-right--top_desc .second-svg {
    min-height: 70px;
  }
}
.section_design-wrapper--content_items-colors, .section_design-wrapper--content_items-buttons {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-colors, .section_design-wrapper--content_items-buttons {
    flex-direction: column;
    gap: 40px;
  }
}
.section_design-wrapper--content_items-colors {
  padding-top: 196px;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-colors {
    padding-top: 20px;
  }
}
.section_design-wrapper--content_items-colors .desc {
  width: 65%;
}
@media screen and (max-width: 480px) {
  .section_design-wrapper--content_items-colors .desc {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-colors svg {
    width: 100%;
  }
}
.section_design-wrapper--content_items-buttons {
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .section_design-wrapper--content_items-buttons {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-buttons {
    flex-direction: column;
    gap: 50px;
  }
}
.section_design-wrapper--content_items-buttons svg {
  width: 100%;
}
.section_design-wrapper--content_items-buttons--left {
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.section_design-wrapper--content_items-buttons--right {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-buttons--left, .section_design-wrapper--content_items-buttons--right {
    width: 100%;
  }
}
.section_design-wrapper--content_items-icons {
  padding-top: 174px;
}
@media screen and (max-width: 768px) {
  .section_design-wrapper--content_items-icons {
    padding-top: 50px;
  }
}

.section_sitemap {
  overflow: hidden;
  background: #F6F2EE;
}
.section_sitemap-wrapper {
  display: flex;
  flex-direction: column;
}
.section_sitemap-wrapper--content_map {
  overflow-x: auto;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .section_sitemap-wrapper--content_map img {
    width: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 480px) {
  .section_sitemap-wrapper--content_map {
    height: 100%;
  }
}
.section_sitemap-wrapper--content_map-text {
  padding-top: 105px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .section_sitemap-wrapper--content_map-text {
    padding: 120px 0px 0px 200px;
  }
}
@media screen and (max-width: 768px) {
  .section_sitemap-wrapper--content_map-text {
    padding: 100px 0px 0px 160px;
  }
}
@media screen and (max-width: 1024px) {
  .section_sitemap-wrapper--content_map-text {
    padding: 70px 0px 30px 20px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .section_sitemap-wrapper--content_map-text {
    padding: 30px 0px 15px 10px;
  }
}
.section_sitemap-wrapper--content_map-text--content {
  display: flex;
  flex-direction: column;
  gap: 54px;
}
@media screen and (max-width: 480px) {
  .section_sitemap-wrapper--content_map-text--content {
    gap: 40px;
  }
}
.section_sitemap-wrapper--content_map-text--content .desc {
  width: 90%;
}
@media screen and (max-width: 768px) {
  .section_sitemap-wrapper--content_map-text--content .desc {
    width: 100%;
  }
}
.section_sitemap-wrapper--content_map-image {
  height: 933px;
}
@media screen and (max-width: 480px) {
  .section_sitemap-wrapper--content_map-image {
    height: 200px;
  }
}
.section_sitemap-wrapper--content_tape {
  background: #DEDEDE;
  height: 280px;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .section_sitemap-wrapper--content_tape {
    height: 220px;
  }
}
@media screen and (max-width: 768px) {
  .section_sitemap-wrapper--content_tape {
    height: 150px;
  }
}
@media screen and (max-width: 480px) {
  .section_sitemap-wrapper--content_tape {
    height: 100px;
  }
}
.section_sitemap-wrapper--content_tape-content {
  position: relative;
}
.section_sitemap-wrapper--content_tape-content--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .section_sitemap-wrapper--content_tape-content--text {
    padding-left: 0px;
  }
}
.section_sitemap-wrapper--content_tape-content--text .title {
  width: 45%;
  color: #111;
}
@media screen and (max-width: 1280px) {
  .section_sitemap-wrapper--content_tape-content--text .title {
    font-size: 35px;
  }
}
@media screen and (max-width: 1024px) {
  .section_sitemap-wrapper--content_tape-content--text .title {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .section_sitemap-wrapper--content_tape-content--text .title {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .section_sitemap-wrapper--content_tape-content--text .title {
    font-size: 15px;
  }
}
.section_sitemap-wrapper--content_tape-content--text .title span {
  color: #DEDEDE;
  text-shadow: -1px 0 #111, 0 1px #111, 1px 0 #111, 0 -1px #111;
}
@media screen and (max-width: 1024px) {
  .section_sitemap-wrapper--content_tape-content--text {
    padding-top: 20px;
  }
}
@media screen and (max-width: 480px) {
  .section_sitemap-wrapper--content_tape-content--text {
    padding-top: 10px;
  }
}
.section_sitemap-wrapper--content_tape-content--image {
  position: absolute;
  bottom: 0px;
  right: 0;
}
.section_sitemap-wrapper--content_tape-content--image_wrapper {
  position: relative;
  width: 605.325px;
  height: 322.016px;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .section_sitemap-wrapper--content_tape-content--image_wrapper {
    width: 466px;
    height: 279px;
  }
}
@media screen and (max-width: 768px) {
  .section_sitemap-wrapper--content_tape-content--image_wrapper {
    width: 330px;
    height: 180px;
  }
}
@media screen and (max-width: 480px) {
  .section_sitemap-wrapper--content_tape-content--image_wrapper {
    width: 200px;
    height: 170px;
  }
}
.section_sitemap-wrapper--content_tape-content--image_wrapper-img {
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 100%;
}
.section_sitemap-wrapper--content_tape-content--image_wrapper-img img {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .section_sitemap-wrapper--content_tape-content--image_wrapper-img img {
    width: 100%;
    object-fit: cover;
  }
}

.section_desktop {
  padding-top: 126px;
}
@media screen and (max-width: 1024px) {
  .section_desktop {
    padding-top: 100px;
  }
}
@media screen and (max-width: 480px) {
  .section_desktop {
    padding-top: 50px;
  }
}
.section_desktop-wrapper--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section_desktop-wrapper--content_top {
  display: flex;
}
@media screen and (max-width: 1280px) {
  .section_desktop-wrapper--content_top {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content_top {
    flex-direction: column-reverse;
  }
}
.section_desktop-wrapper--content_top-firstPhoto {
  width: 100%;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content_top-firstPhoto {
    width: auto;
    padding-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  .section_desktop-wrapper--content_top-firstPhoto {
    display: flex;
    justify-content: center;
  }
}
.section_desktop-wrapper--content_top-firstPhoto img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .section_desktop-wrapper--content_top-firstPhoto img {
    width: 70%;
  }
}
.section_desktop-wrapper--content_top-title {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 70%;
}
@media screen and (max-width: 1440px) {
  .section_desktop-wrapper--content_top-title {
    width: 60%;
  }
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content_top-title {
    width: 100%;
  }
}
.section_desktop-wrapper--content_top-title .desc {
  text-align: right;
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content_top-title .desc {
    text-align: left;
  }
}
.section_desktop-wrapper--content_bottom {
  display: flex;
  justify-content: space-between;
  transform: translate(0px, -150px);
  margin-left: auto;
}
@media screen and (max-width: 1280px) {
  .section_desktop-wrapper--content_bottom {
    width: 100%;
    transform: translate(0px, 0px);
  }
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content_bottom {
    width: 100%;
    margin-top: 50px;
    transform: translate(0px, 0px);
  }
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content_bottom {
    flex-direction: column;
    gap: 50px;
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) and (max-width: 768px) {
  .section_desktop-wrapper--content_bottom {
    gap: 20px;
  }
}
.section_desktop-wrapper--content_bottom-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: flex-end;
}
@media screen and (max-width: 1440px) {
  .section_desktop-wrapper--content_bottom-text {
    width: 45%;
  }
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content_bottom-text {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .section_desktop-wrapper--content_bottom-text {
    gap: 70px;
  }
}
@media screen and (max-width: 480px) {
  .section_desktop-wrapper--content_bottom-text {
    gap: 50px;
  }
}
.section_desktop-wrapper--content_bottom-secondPhoto {
  width: 100%;
  transform: translate(-130px, -60px);
  padding-bottom: 100px;
}
@media screen and (max-width: 1440px) {
  .section_desktop-wrapper--content_bottom-secondPhoto {
    transform: translate(0px, -100px);
  }
}
@media screen and (max-width: 1280px) {
  .section_desktop-wrapper--content_bottom-secondPhoto {
    transform: translate(50px, -200px);
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 1024px) {
  .section_desktop-wrapper--content_bottom-secondPhoto {
    width: auto;
    transform: translate(0px, 0px);
  }
}
@media screen and (max-width: 768px) {
  .section_desktop-wrapper--content_bottom-secondPhoto {
    display: flex;
    justify-content: center;
  }
}
.section_desktop-wrapper--content_bottom-secondPhoto img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .section_desktop-wrapper--content_bottom-secondPhoto img {
    width: 70%;
  }
}
@media screen and (max-width: 1280px) {
  .section_desktop-wrapper--content_image {
    padding-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .section_desktop-wrapper--content_image {
    padding-bottom: 50px;
  }
}
.section_desktop-wrapper--content_image img {
  width: 100%;
}

.section_mobile {
  padding-top: 165px;
  position: relative;
  background: #F6F2EE;
}
@media screen and (max-width: 1024px) {
  .section_mobile {
    padding-top: 120px;
  }
}
@media screen and (max-width: 768px) {
  .section_mobile {
    padding-top: 80px;
  }
}
@media screen and (max-width: 480px) {
  .section_mobile {
    padding-top: 50px;
  }
}
.section_mobile-wrapper--content_title {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content_title {
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .section_mobile-wrapper--content_title {
    width: 100%;
  }
}
.section_mobile-wrapper--content_title .desc {
  min-height: 93px;
  height: 100%;
  width: 40%;
}
@media screen and (max-width: 768px) {
  .section_mobile-wrapper--content_title .desc {
    width: 100%;
  }
}
.section_mobile-wrapper--content_image {
  display: flex;
  justify-content: center;
  transform: rotate(4.003deg);
}
.section_mobile-wrapper--content_image img {
  z-index: 1;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content_image img {
    width: 100%;
  }
}
.section_mobile-wrapper--content_bottom-first, .section_mobile-wrapper--content_bottom-second {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .section_mobile-wrapper--content_bottom-first img, .section_mobile-wrapper--content_bottom-second img {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .section_mobile-wrapper--content_bottom-first img, .section_mobile-wrapper--content_bottom-second img {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .section_mobile-wrapper--content_bottom-first {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .section_mobile-wrapper--content_bottom-first {
    padding-top: 20px;
  }
}
.section_mobile-wrapper--content_bottom-first--title .desc {
  color: var(--Brand-Gold-600, #E0A425);
  text-transform: uppercase;
  font-size: 40px;
  width: 80%;
}
@media screen and (max-width: 1280px) {
  .section_mobile-wrapper--content_bottom-first--title .desc {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .section_mobile-wrapper--content_bottom-first--title .desc {
    font-size: 25px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .section_mobile-wrapper--content_bottom-first--title .desc {
    font-size: 18px;
  }
}
.section_mobile-wrapper--content_bottom-first--firstPhoto {
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .section_mobile-wrapper--content_bottom-second {
    flex-direction: column-reverse;
  }
}
.section_mobile-wrapper--content_bottom-second--text {
  display: flex;
  justify-content: flex-end;
}
.section_mobile-wrapper--content_bottom-second--text .desc {
  text-align: right;
  width: 57%;
}
@media screen and (max-width: 1024px) {
  .section_mobile-wrapper--content_bottom-second--text .desc {
    width: 100%;
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .section_mobile-wrapper--content_bottom-second--text .desc {
    width: 100%;
    text-align: left;
  }
}
.section_mobile-wrapper--content_bottom-second--secondPhoto {
  display: flex;
  justify-content: center;
}

.section_highlights {
  padding-top: 157px;
}
@media screen and (max-width: 768px) {
  .section_highlights {
    padding-top: 100px;
  }
}
@media screen and (max-width: 480px) {
  .section_highlights {
    padding-top: 50px;
  }
}
.section_highlights-wrapper--content .text-card {
  display: flex;
  gap: 192px;
}
@media screen and (max-width: 768px) {
  .section_highlights-wrapper--content .text-card {
    flex-direction: column;
    gap: 50px;
  }
}
.section_highlights-wrapper--content .text-card--left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 90%;
}
@media screen and (max-width: 768px) {
  .section_highlights-wrapper--content .text-card--left {
    width: 100%;
  }
}
.section_highlights-wrapper--content .text-card--right {
  width: 90%;
}
@media screen and (max-width: 768px) {
  .section_highlights-wrapper--content .text-card--right {
    width: 100%;
  }
}
.section_highlights-wrapper--content .text-card--right_info .desc {
  color: var(--Brand-Gold-600, #E0A425);
  font-size: 40px;
  text-transform: uppercase;
}
@media screen and (max-width: 1280px) {
  .section_highlights-wrapper--content .text-card--right_info .desc {
    font-size: 35px;
  }
}
@media screen and (max-width: 1280px) {
  .section_highlights-wrapper--content .text-card--right_info .desc {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .section_highlights-wrapper--content .text-card--right_info .desc {
    font-size: 25px;
  }
}
@media screen and (max-width: 480px) {
  .section_highlights-wrapper--content .text-card--right_info .desc {
    font-size: 18px;
  }
}
.section_highlights-wrapper--content .text-card--image {
  position: relative;
}
.section_highlights-wrapper--content .text-card--image img {
  width: 100%;
}
.section_highlights-wrapper--content .text-card--image_icon {
  position: absolute;
  bottom: 130px;
}
@media screen and (max-width: 768px) {
  .section_highlights-wrapper--content .text-card--image_icon {
    bottom: 50px;
  }
}
@media screen and (max-width: 480px) {
  .section_highlights-wrapper--content .text-card--image_icon {
    bottom: 40px;
  }
}
.section_highlights-wrapper--content .text-card--image_icon svg {
  width: 100%;
}

.section_showcase {
  width: 100%;
  padding-top: 126px;
  margin: 0 auto;
  background: #050505;
  color: #fff;
}
.section_showcase-wrapper {
  width: 75%;
  margin: 0 auto;
}
.section_showcase-wrapper--content {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .section_showcase-wrapper--content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.section_showcase-wrapper--content_text {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.section_showcase-wrapper--content_text .title {
  color: #fff;
  text-transform: unset;
  width: 80%;
}
@media screen and (max-width: 1440px) {
  .section_showcase-wrapper--content_text .title {
    width: 100%;
  }
}
.section_showcase-wrapper--content_text .desc {
  width: 65%;
}
@media screen and (max-width: 1440px) {
  .section_showcase-wrapper--content_text .desc {
    width: 85%;
  }
}
@media screen and (max-width: 1280px) {
  .section_showcase-wrapper--content_text .desc {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .section_showcase-wrapper--content_image {
    display: flex;
    justify-content: center;
    padding-top: 80px;
  }
}
@media screen and (max-width: 1024px) {
  .section_showcase-wrapper--content_image img {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .section_showcase-wrapper--content_image img {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .section_showcase-wrapper--content_image img {
    width: 50%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html body {
  cursor: default;
  background-color: #F9F9F9;
  color: #2E3140;
  overflow-x: hidden;
}

.unbounded-300 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.unbounded-400 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.unbounded-500 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.unbounded-600 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.unbounded-700 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.title-main {
  display: flex;
  align-items: center;
  position: relative;
}
.title-main::before {
  content: "";
  display: block;
  width: 359px;
  height: 1px;
  opacity: 0.5;
  background: #7C5A41;
  position: absolute;
  right: 100%;
  margin-right: 17px;
}
@media screen and (max-width: 1440px) {
  .title-main::before {
    width: 110px;
  }
}
@media screen and (min-width: 2560px) {
  .title-main::before {
    width: 679px;
  }
}

.menu {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .menu {
    justify-content: flex-start;
  }
}
.menu::before {
  content: "";
  display: block;
  width: 359px;
  height: 1px;
  opacity: 0.5;
  background: #7C5A41;
  position: absolute;
  left: 100%;
  margin-left: 17px;
}
@media screen and (max-width: 768px) {
  .menu::before {
    right: 100%;
    left: unset;
    margin-right: 17px;
  }
}
@media screen and (min-width: 2560px) {
  .menu::before {
    width: 679px;
  }
}
@media screen and (max-width: 1440px) {
  .menu::before {
    width: 110px;
  }
}

@media screen and (max-width: 1024px) {
  .desktop {
    display: flex;
    justify-content: flex-start;
  }
}
.desktop::before {
  content: "";
  display: block;
  width: 359px;
  height: 1px;
  opacity: 0.5;
  background: #7C5A41;
  position: absolute;
  left: 100%;
  margin-left: 17px;
}
@media screen and (max-width: 1024px) {
  .desktop::before {
    right: 100%;
    left: unset;
    margin-right: 17px;
  }
}

html body a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

html body ul {
  list-style: none;
}

.section {
  width: 88%;
  max-width: calc(1440px - 2%);
  margin: 0 auto;
  padding: 0px 50px;
}
@media screen and (max-width: 1024px) {
  .section {
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  .section {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 350px) {
  .section {
    padding: 0px 10px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.page .miniNav {
  position: absolute;
  top: 1400px;
  right: 80px;
  height: calc(100% - 1500px);
  z-index: 1000;
}
@media screen and (max-width: 1440px) {
  .page .miniNav {
    top: 1250px;
    right: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .page .miniNav--nav {
    margin-right: 10px;
    display: none;
  }
}
.page .miniNav--nav_content {
  position: sticky;
  top: 0;
}
.page .miniNav--nav_content .line {
  width: 1px;
  height: 8px;
  background: #333;
}
.page .miniNav--nav_content .nav-content {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #FFF;
  position: relative;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .page .miniNav--nav_content .nav-content {
    width: 22px;
    height: 22px;
  }
}
@media screen and (max-width: 768px) {
  .page .miniNav--nav_content .nav-content {
    width: 20px;
    height: 20px;
  }
}
.page .miniNav--nav_content .nav-content--text {
  position: absolute;
  top: 50%;
  right: calc(100% + 10px);
  transform: translateY(-50%);
  opacity: 0;
  text-align: center;
  transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .page .miniNav--nav_content .nav-content--text {
    font-size: 14px;
  }
}
.page .miniNav--nav_content .nav-content:hover, .page .miniNav--nav_content .nav-content.active {
  background-color: #FFCE34;
}
.page .miniNav--nav_content .nav-content:hover .nav-content--text, .page .miniNav--nav_content .nav-content.active .nav-content--text {
  opacity: 1;
  color: #FFCE34;
}
.page .miniNav--nav_content-stage {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .page .miniNav--nav_content-stage {
    gap: 5px;
  }
}
@media screen and (max-width: 768px) {
  .page .miniNav--nav_content-stage p svg {
    width: 7px;
    height: 8px;
  }
}
.page .miniNav--nav_content.fixed {
  position: fixed !important;
  z-index: 1000;
  right: 80px;
  top: 0;
}
@media screen and (max-width: 1440px) {
  .page .miniNav--nav_content.fixed {
    right: 20px;
  }
}

.title {
  font-size: 36px;
  line-height: 110%;
  z-index: 1;
  color: #4A5C5C;
  text-transform: uppercase;
}
@media screen and (max-width: 1280px) {
  .title {
    font-size: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .title {
    font-size: 27px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 18px;
  }
}

.desc {
  font-size: 20px;
  line-height: 130%;
  z-index: 1;
}
@media screen and (max-width: 1280px) {
  .desc {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .desc {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .desc {
    font-size: 14px;
  }
}

/*# sourceMappingURL=styles.module.css.map */
