.section_highlights {
    padding-top: 157px;

    &-wrapper {
        &--content {
            .text-card {
                display: flex;
                gap: 192px;

                &--left {
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                    width: 90%;
                }

                &--right {
                    width: 90%;

                    &_info {
                        .desc {
                            color: var(--Brand-Gold-600, #E0A425);
                            font-size: 40px;
                            text-transform: uppercase;
                        }
                    }
                }

                &--image {
                    position: relative;

                    &_icon {
                        position: absolute;
                        bottom: 130px;
                    }
                }
            }
        }
    }
}