.section_overview {
    padding-top: 166px;
    padding-bottom: 70px;
    position: relative;
    overflow: hidden;
    background: #F6F2EE;

    @media screen and (max-width: 1028px) {
        padding-top: 70px;
    }

    @media screen and (max-width: 480px) {
        padding-top: 50px;
    }

    &-wrapper {
        position: relative;

        &--content {
            &_top {
                position: relative;

                &-image {
                    position: absolute;
                    top: 45%;
                    right: 0;

                    @media screen and (max-width: 1440px) {
                        display: flex;
                        justify-content: flex-end;
                        top: 55%;
                        width: 80%;
                    }

                    img {
                        @media screen and (max-width:1440px) {
                            width: 90%;
                        }

                        @media screen and (max-width:768px) {
                            display: none;
                        }

                        z-index: 2;
                    }
                }

                &-items {
                    display: flex;
                    flex-direction: column;
                    gap: 54px;

                    @media screen and (max-width:768px) {
                        gap: 70px;
                    }

                    @media screen and (max-width:480px) {
                        gap: 30px;
                    }

                    &--item {
                        .text-card {
                            display: flex;
                            flex-direction: column;
                            gap: 54px;
                            color: #2E3140;
                            width: 100%;

                            @media screen and (max-width:480px) {
                                gap: 30px;
                            }

                            .title {
                                color: #4A5C5C;
                                text-transform: uppercase;
                            }

                            @media screen and (max-width: 1024px) {
                                width: 100%;
                            }

                            .text {
                                min-height: 182px;
                                width: 90%;

                                .desc {
                                    span {
                                        color: #9DB8D8;
                                    }
                                }

                                @media screen and (max-width:768px) {
                                    height: unset;
                                }
                            }
                        }
                    }
                }
            }

            &_bottom {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 78px;

                &-btn {
                    display: flex;
                    height: 70px;
                    padding: 0px 9px;
                    justify-content: center;
                    align-items: center;
                    background: #136062;

                    .text {
                        width: 620px;

                        @media screen and (max-width: 1024px) {
                            width: 100%;
                        }

                        p {
                            color: #FFF;
                            text-align: center;
                            font-size: 36px;
                            letter-spacing: 3.6px;
                            text-transform: uppercase;

                            @media screen and (max-width: 1280px) {
                                font-size: 30px;
                            }

                            @media screen and (max-width: 1024px) {
                                font-size: 27px;
                            }

                            @media screen and (max-width: 768px) {
                                font-size: 20px;
                            }

                            @media screen and (max-width: 480px) {
                                font-size: 18px;
                            }
                        }
                    }
                }

                &-icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 128px;
                    width: 82%;
                    background: #F9F9F9;
                    padding: 40px 0;

                    @media screen and (max-width: 1024px) {
                        width: 100%;
                        gap: 90px;
                    }

                    @media screen and (max-width: 768px) {
                        gap: 20px;
                    }

                    @media screen and (max-width: 480px) {
                        flex-direction: column;
                        align-items: center;
                        width: 90%;
                        padding: 50px 0px;
                    }

                    .icon {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 20px;
                        text-align: center;
                        width: 226px;
                        min-height: 300px;

                        @media screen and (max-width: 768px) {
                            gap: 15px;
                        }

                        @media screen and (max-width: 480px) {
                            gap: 10px;
                            width: 100%;
                            min-height: 100px;
                        }

                        .icon-svg {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            margin-bottom: 15px;
                        }

                        .icon-text {
                            display: flex;
                            justify-content: center;
                            width: 100%;
                            min-height: 80px;

                            .desc {
                                font-size: 16px;
                                line-height: 150%;

                                @media screen and (max-width: 768px) {
                                    font-size: 15px;
                                }

                                @media screen and (max-width: 480px) {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}